#fixed-nav {
  list-style:none;
  position:absolute;
  top:210px;
  margin-left:-45px;
}

#fixed-nav li {
  margin-bottom: 0px;
  list-style: none;
}

#fixed-nav a {
  border-left:20px solid #F0F0F0 ;
  background-color:#E0EBFF;
  color:gray;
  display: block;
  padding-top: 14px;
  margin-top:2px;
  margin-bottom:2px;
  padding-bottom: 14px;
  padding-right:15px;
  padding-left:30px;
  font-family: Oswald, sans-serif;
  text-decoration: none;
  font-size:20px;
  letter-spacing: 1.5px;
}

#fixed-nav a:hover {
  background-color: #888888;
  color:white;
  display:block;
}