@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,300italic,100italic,400italic,700,700italic,900,900italic);

* {
    margin: 0px;
    padding: 0px;
}

body {
  
}

h1, h2{
    font-family: 'Lato';
    text-align: center;
    color: #d9c8a4;
}

h3, h4, h5, h6 {
    font-family: 'Lato';
    text-align: center;
    color: #d9c8a4;
    font-weight: 200;
    letter-spacing: 2px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 18px;
    text-align: left;
}

h5
{
  font-size: 17px;

}

p {
    font-family: 'Lato';

}

.scrollup {
    width: 50px;
    height: 65px;
    position: fixed;
    right: 20%;
    bottom: 30%;
    background-image: url('img/icon-top.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.page-header {
  font-family: "Raleway";
  text-align: center;
  font-size: 30px;
}

#menu-bg{
    background-image:url('../img/menu-landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    z-index: -100;
}

#events-bg{
    background-image: url('../img/lestatsevents.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    z-index: -100;
}

#contact-bg{
    background-image: url('../img/expansion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    z-index: -100;
}

#homepage-bg{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    z-index: -100;
}

#homepage-pattern{
    background: url('http://d1fki99wqld33s.cloudfront.net/assets/net.png') repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-repeat: repeat;
    background-size: auto auto;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#homepage-logo{
    width: 60%;
    min-width: 800px;
    height: auto;
    margin: 0px auto;
    padding-top: 40px;
    
}

#top-nav {
    width: 100%;
    min-width: 600px;
    height: 10%;
    min-height: 50px;
    background-color: black;
    opacity: 0.6;
    text-align: center;
}

ul#nav-ul {
    list-style: none;
    padding:0;
    margin:0 auto;
    display:inline-block;
}

#nav_container {
    width:900px;
    margin:0 auto;
}

#nav-ul li {
    float:left;
    padding:10px 20px; 
}

#nav-ul li a {
    display:block;
    width:140px;
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
}

#homepage-logo-img{
    width: 90%;
    align-self: center;
    opacity: 0.8;
}

#open24-7{
    width: 50%;
    min-width: 800px;
    margin: -20px auto;
    border-top: 1px solid white;
    padding-top: 15px;
}


#open24-7span{
    text-align: center;
    font-size: 70px;
    font-weight: 100;
}


#event-body {
    float: right;
    width: 66%;
    margin: auto 100px;
    background-color: white;
    padding: 25px;
}

/* EVENTS CSS */

#events-header h1, #events-header p{
    line-height: inherit;
    text-align: center;
}

#events-content{
    width: 75%;
    float: left;
    padding: 10px;
}

#events-sidebar{
    width: 15%;
    right: 11%;
    padding: 5px;
    position: fixed;
}

#events-content h3, #events-content h6{
    text-align: left;
    font-family: 'Raleway';
    font-weight: 400;
    margin: 0px;
}

#events-content p{
    margin: 0px;
}

#events-photos {
    width: 25%;
    float: left;
    padding: 10px;
}

#events-photos img {
    width: 100%;
    margin-top: 0px;
}

#events-text {
    width: 70%;
    float: right;
}

.events-content-wrap {
    margin: 0px;
    display: inline-block;
}

#buffer {
    height: 170px;
}

/*story css*/
#story-gallery{
    width: 600px;
    margin: auto;
}
#story-gallery img{
    display: inline-block;
    margin: 0px 20px;
    width: 100px;
    height: 100px;
}
    
/*images */

#parkimg {
  margin-top:180px;
  margin-left:380px;
  float:left;
  position:fixed;
}

#homeimage {
  margin-top:-10px;
  float:right;
  position:fixed;
  margin-left:530px;
  position:fixed;
}

#adamsimg {
  margin-top:180px;
  float:right;
  position:fixed;
  margin-left:850px;
}

#adamsimg img, #parkimg img {
  border: #333 7px solid;
}

#img_cap {
  font-family:"Quicksand";
  font-size:20px;
  text-align: center;
}

#drink_link  {
  left: 0;
}

#food_link {
    left: 50%;
}

#food_link, #drink_link {
  position: fixed;
  min-width: 400px;
  width: 50%;
  height: 100%;
  display: none;
}

#food_link_a, #drink_link_a  {
  text-decoration: none;
  font-family: 'Lato';
    text-align: center;
    color: #000000;
    font-weight: 100;
    opacity: 1.0;
    letter-spacing: 2px;
    font-size: 100px;
     display: block;
    padding-top: 50%;
    padding-bottom: 50%;
}

#food_link a:hover , #drink_link a:hover {
    background-color: white;
    opacity: 0.3;
}
#main {
  margin-left:370px;
  margin-top: 30px;
  position:fixed;
  border:solid #fff 20px;
}

#navborder {
  opacity: .75;
  background-color: #333;
  position:fixed;
  width:180px;
  height:100%;
  left: 20px;
  border-left:solid 6px #150905;
  border-right:solid 6px #150905;
}

#navborder li {
  list-style: none;
  margin: 40px auto;
  text-align: center;
}

#navborder a {
  color:#87b51d;
  display: block;
  font-family:'Raleway',serif;
  font-weight: 200;
  text-decoration: none;
  font-size:22px;
  letter-spacing: 1px;

}

#navborder a:hover {
  color:#FF9F00;
}

#logo {
  position:fixed;
  top:350px;
  margin-left:67px;
}

#footer-container {
    background-color: black;
    position: fixed;
    bottom:0;
    width: 100%;
    min-width: 800px;
}

#footerbutton {
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 35px;
    text-align: center;
}

#font {
    list-style:none;
    font-family: 'Lato';
    font-weight:100;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%;
}

#footer {
  color:white;
  background-color:black;
  height:85px;
  width:100%;
  min-width: 800px;
  font-family:'Lato';
  font-weight: 400;
}

.icon_img {
  display:inline-block;
  margin-top:4px;
  padding:2px;
}

#parksfooter, #adamsfooter, #socialmedia{
  width: 33%;
  margin: 10px auto;
  text-align: center;
  color:white;
  display: inline-block;
  line-height: 120%;
  vertical-align: top;
  font-family:'Bitter';
  font-weight: 400;
  letter-spacing: 1px;
}

#parksfooter p, #adamsfooter p, #socialmedia p{
  font-weight: 100;
}

#open {
  font-family:'Bitter';
  font-weight: 400;
  color:#FF9F00;
}

.footertext {
  font-size: 16px;
}

.contacttext {
  text-align: left;
}

.contactopen {
  text-align: center;
  font-size: 20px;
  color: white;
}

#contact-text-container{
  text-align: center;
  margin-top: 30px;
}



/* menu info */
.menucontent {
  margin:0 auto;
  height:100%;
  font-size: 40pt;
  font-family:'Lato', serif;
  text-align: center;
}

.shotcontainer{
    
}

.shotheader {
  font-family: 'Lato';
  font-weight:400;
  letter-spacing: 2px;
  font-size:16px;
  display:inline-block;
  width: 33%;
    margin: 0 auto;
}

#menu-left{
    width: 50%;
    min-width: 625px;
    float: left;
    background-image: url('../img/sprinkles.png');
}

#menu-left-pattern{
    width: 100%%;
    min-width: 625px;
    float: left;
    background-image: url('../img/arab_tile.png');
    background-repeat: repeat;3
    background-size: auto auto;
    height: 100%;
    position: fixed;
    
}

#menu-single, #menu-double, #menu-names, #menu-grande{
    width: 25%;
    padding: 0px;
    height: 30px;
    margin: 0px;
    display: inline-block;
    float: left;
    text-align: left;
}

#menu-single li, #menu-double li, #menu-names li, #menu-grande li{
    font-family: 'Lato';
    font-weight: 200;
    font-size: 17px;
    margin-left: 30px;
    text-decoration: none;
    list-style: none;
}


#menu-right{
    width: 50%;
    min-width: 625px;
}

.menuimage_1 img, .menuimage_2 img {
  width:150px;
  height:150px;
}

#namemenu {
  font-size: 16px;
  font-family:'Lato', serif;
  text-align: left;
  font-weight: thin;
  letter-spacing: .5px;
  line-height: 20px;
  display:inline;
  width:200px;
}

.drink_cap {
  text-align: center;
  font-size: 14px;
  font-family:'Raleway', serif;
  margin-left:20px;
  font-weight: bold;
}

#icon_nav_links {
  margin-left:400px;
  position:absolute;
  margin-top:80px;
}

#horiz {
  margin-left:30px;
  display:inline;
  text-decoration: none;
  list-style: none;
  float: left;
}

#horiz a {
  text-decoration: none;
  list-style: none;
  font-family:'Raleway', serif;
  color:#D65C33;
  display:block;
  width:90px;
  padding-left:10px;
  font-weight: bold;
}


.drink_desc {
  font-size: 16px;
  font-family:'Raleway', serif;
  text-align:left;
  margin-left:40px;
}

.menuheader {
  font-size: 24px;
  font-family:'Lato', serif;
  margin:0 auto;
}

.icon_nav_container {
  margin:0 auto;
  text-align: center;
}

#menu_left_img {
margin:0 auto;
width:150px;
height:100%;
background-color:black;
}

#menu_rt_img {
width:150px;
margin:0 auto;
height:100%;
background-color:black;
}

.icon_nav {
  margin-left: 0;
  margin-right: 0;
  width: inherit;
}
    
/*CSS for contact form*/
#page-wrap {

  width: 660px;
  padding: 20px 50px 20px 50px;
  margin: 20px auto;
  min-height: 500px;
  height: auto !important;
  height: 500px;
  width: 66%;
  background: #333;
  opacity: .85;
  color:white;
  font-family: 'Lato', serif;

}

#contact-wrap {
  width:60%;
  background: #333;
  opacity: .85;
}

#contact-left{
    width: 50%;
    min-width: 400px;
    float: left;
}

#contact-right{
    width: 50%;
    min-width: 400px;
    float: right;
    height:100%;
    min-height: 700px;
    text-align: center;
}

#contactlestats{
  margin-top; 20px;
}
#contact-area {
  width: 500px;
  margin-top: 5px;
  padding: 20px 10px 20px 0px;
  min-height: 500px;
  height: auto !important;
  font-family: 'Lato';
}

#contact-area input, #contact-area textarea {
  padding: 2px;
  width: 300px;
  font-family: 'Lato', serif;
  font-size: 1em;
  margin: 0px 0px 10px 0px;
  border: 2px solid #ccc;
}

#contact-area label{
    font-family: 'Lato';
    color: white;
    font-weight: 100;
}

#contact-area textarea {
  height: 90px;
  text-align: left;
}

#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #900;
}

#contact-area input.submit-button {
  width: 100px;
  float: right;
  margin-right: 90px;
}



label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
  padding-top: 5px;
  font-size: 1.4em;
}

#page-story {

  width: 66%;
  background: #333;
  opacity: .85;
  padding: 25px;
  margin-right: 130px;

  min-height: 500px;
  float: right;
  height: auto !important;
  height: 500px;
  font-family: 'Raleway', serif;
  color: white;
}




