<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Specialty Drinks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <link href="css/lightbox.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script|Quicksand|Clicker+Script' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/lightbox-2.6.min.js"></script>
    <script language="javascript">
      hotdrinks = new Image(700,175);
      hotdrinks.src = "./img/hothover.png";
      colddrinks = new Image(700,175);
      colddrinks.src = "./img/coldhover.png";
      specialty = new Image(700,175);
      specialty.src = "./img/specialdrink.png";
      tea = new Image(700,175);
      tea.src = "./img/teadrink.png";
      og = new Image(700,175);
      og.src = "./img/main_nav.png";
    </script>
    <script language="javascript">
      function hothover() {
      document.emp.src = hotdrinks.src; return true;
      }
      function coldhover() {
      document.emp.src = colddrinks.src; return true;
      }
      function specialhover() {
      document.emp.src = specialty.src; return true; 
      }
      function teahover() {
      document.emp.src = tea.src; return true; 
      }
      function original() {
      document.emp.src = og.src; return true; 
      }
    </script> 
  </head>

  <body style="background: url('http://d1fki99wqld33s.cloudfront.net/assets/net.png') repeat scroll 0% 0% transparent; background: url('img/beautifuladams.jpg');">

   <div id="top-nav">
          <div id="nav_container">
              <ul id="nav-ul">
                <li><a href="/index">HOME</a></li>
                <li><a href="/menu">MENU</a></li>
                <li><a href="/events">EVENTS</a></li>
                <li><a href="/contact">CONTACT</a></li>
              </ul>
          </div>
    </div>
      
       <!--menu left-->
    <div id="menu-left">
        <div class="icon_nav_container">
      <img class="icon_nav" name="emp" SRC="./img/main_nav.png" USEMAP="#hovnav">
        <map id="#hovnav" name="hovnav">
          <area shape="rect" alt="hotdrink" onFocus= "blur()" onMouseOver= "hothover()" onMouseOut="original()" coords="23,49,131,122" href="hotdrinks"  />
          <area shape="rect" alt="colddrink" onFocus= "blur()" onMouseOver= "coldhover()" onMouseOut="original()" coords="172,47,284,123" href="colddrinks" />
          <area shape="rect" alt="specialty" onFocus= "blur()" onMouseOver= "specialhover()" onMouseOut="original()"coords="330,42,449,123" href="specialties" />
          <area shape="rect" alt="tealist" onFocus= "blur()" onMouseOver= "teahover()" onMouseOut="original()" coords="483,63,594,123" href="tealist" />
        </map>
        </div>
    <h4 id="menu-title">SPECIALTIES</h4>
    <div class ="menucontent">
        
        <div id="menu-names">
        <ul>
            <li><br></li>
            <li class= "speciality">Milky Way</li>
            <li><span class="sandec">Caramel, Chocolate, & Vanilla</span></li>
            <li>Snickers</li>
            <li><span class="sandec">Hazelnut, Caramel, & Chocolate</span></li>
            <li>Peppermint Patty</li>
            <li><span class="sandec">Peppermint & Chocolate</span></li>
            <li>Almond Joey</li>
            <li><span class="sandec">Coconut, Almond, & Chocolate</span></li>
            <li>Jimmie Milano</li>
            <li><span class="sandec">Mexican & White Chocolate</span></li>
            <li>Irish Monkey</li>
            <li><span class="sandec">Banana, Irish Cream, & Chocolate</span></li>
            <li>Funkey Monkey</li>
            <li><span class="sandec">Coconut, Banana & White Chocolate</span></li>
            <li>Caramel Apple</li>
            <li><span class="sandec">Apple Juice & Caramel</span></li>
            <li>Black Magic</li>
            <li><span class="sandec">Black Tea & White Chocolate</span></li>
            <li>Caramel D'Lish</li>
            <li><span class="sandec">Caramel & Cinnamon Latte</span></li>
            <li>Iced Vietnamese</li>
            <li><span class="sandec">Espresso & Condensed Milk</span></li>
            </ul>
        </div>

        <div id="menu-single">
            <ul>
            <li><span class="menu-title">Single</span></li>
            <li>3.65</li>
                <li><br></li>
            <li>3.65</li>
                <li><br></li>
            <li>3.65</li>
                <li><br></li>
            <li>3.65</li>
                <li><br></li>
            <li>3.95</li>
                <li><br></li>
            <li>3.65</li>
                <li><br></li>
            <li>3.95</li>
                <li><br></li>
            <li>3.40</li>
                <li><br></li>
            <li>3.40</li>
                <li><br></li>
            <li>3.40</li>
                <li><br></li>
            <li>3.95</li>

            </ul>
        </div>
        </div>
        <div id="menu-double">
            <ul>
            <li><span class="menu-title">Double</span></li>
            <li>4.20</li>
                <li><br></li>
            <li>4.20</li>
                <li><br></li>
            <li>4.20</li>
                <li><br></li>
            <li>4.20</li>
                <li><br></li>
            <li>4.45</li>
                <li><br></li>
            <li>4.20</li>
                <li><br></li>
            <li>4.50</li>
                <li><br></li>
            <li>4.50</li>
                <li><br></li>
            <li>3.90</li>
                <li><br></li>
            <li>3.90</li>
                <li><br></li>
            <li>4.45</li>

            </ul>
        </div>
        <div id="menu-grande">
        <ul>
            <li><span class="menu-title">Grande</span></li>
            <li>4.95</li>
            <li><br></li>
            <li>4.95</li>
            <li><br></li>
            <li>4.95</li>
            <li><br></li>
            <li>4.95</li>
            <li><br></li>
            <li>5.25</li>
            <li><br></li>
            <li>4.95</li>
            <li><br></li>
            <li>5.25</li>
            <li><br></li>
            <li>4.65</li>
            <li><br></li>
            <li>4.65</li>
            <li><br></li>
            <li>4.65</li>
            <li><br></li>
            <li>4.65</li>

            </ul>
        </div>
      </div>
    </div>
        

        <!--menu right-->
    <div id="menu-right">
        <div class="menu-blurb" style="background-image: url('img/special1.jpg'); background-size: cover">
        <h2 id="menu-captions">Iced Vietnamese</h2>
        </div>
        <div class="menu-blurb" style="background-image: url('img/special2.jpg'); background-size: cover">
        <h2 id="menu-captions">Peppermint Patty</h2>
        </div>
        <div class="menu-blurb" style="background-image: url('img/special3.jpg'); background-size: cover">
        <h2 id="menu-captions">Funky Monkey</h2></div>
        <div class="menu-blurb" style="background-image: url('img/special4.jpg'); background-size: cover">
        <h2 id="menu-captions">Caramel D'Lish</h2></div>
    </div>
    

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>

</body>
</html>